<form method="post" action="{{ path('book_delete', {'idbook': book.idbook}) }}" onsubmit="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.idbook) }}">
    <button class="btn btn-primary">{{ 'Delete'|trans }}</button>
</form>
